.main_container {
  display: grid;
  grid-template-columns: 1fr 35%;
  padding: 0.5rem;
}
.categories_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  flex-direction: row;
  // justify-content: space-between;
  padding-left: 2.2rem;
  padding-right: 1rem;

  flex-grow: 1;
  justify-content: space-between;

  align-content: flex-start;
}

.btn_date_container {
  background-color: #7777;
  height: 3rem;
  width: 63%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 10px;
  position: absolute;
  margin-bottom: 2rem;
}

.btn_addtable {
  background-color: var(--orangeColor);
  color: #fff;
  height: 70%;
  width: 9rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow-soft);
  display: inline-block;
}
.btn_animation {
  animation: scale 1s ease-in infinite alternate;
  -webkit-animation: scale 1s ease-in infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
