.container {
  width: 100%;
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

button {
  cursor: pointer;
}
