.container {
  height: 35vh;
  direction: rtl;
}

.line {
  background: var(--purpleColor);
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: #fff;
}

.footer_details {
  background: #333;
  height: 100%;
  display: flex;
}

.icons {
  width: 15%;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.text {
  font-size: 2rem;
}

.logo {
  width: 10rem;
  height: 7rem;
  margin-top: 1rem;
}

.texts_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.text_container {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 1rem 0;
}

.btn_small {
  margin-bottom: 0.5rem;
}

.icon_footer {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.text_contact {
  text-align: right;
}
