.container {
  height: 85vh;
  width: 100vw;
  background: var(--bg-primary);
}
.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.title {
  font-size: 7rem;
  letter-spacing: 3px;
}

.subtitle {
  font-size: 3rem;
}
.btn_container {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 2rem;

  position: relative;
  width: 30rem;
  margin: 6rem auto;
}
.btn_reg {
  margin-left: 2rem;
  border: 1px solid #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: #fff;
    color: var(--primaryColor);
  }
}
.btn_test {
  display: flex;
  align-items: center;
  svg {
    fill: #1763f7;
    font-size: 3rem;
    z-index: 2;
  }
}

.whitebg {
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 72px;
  top: 20px;
  z-index: 1;
}

.img {
  width: 55rem;
  height: 33rem;
  margin: -11rem auto 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: var(--box-shadow-hard);
}
.title_learn_container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  direction: rtl;
  font-size: 45px;
  font-weight: 700;
}
.title_learn {
}
.how {
  color: var(--orangeColor);
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 7rem;
}
.box {
  width: 30%;
  height: 25rem;
  // border: 1px solid #7777;
  border-radius: 10px;
  color: #777;
  align-items: center;
  display: flex;

  flex-direction: column;
  padding: 1rem 2.5rem;
  box-shadow: var(--box-shadow-soft);
}

.icon {
  font-size: 5rem;
  color: #777;
  margin-bottom: 1rem;
}

.learn_title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.learn_text {
  color: #000;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.service {
  width: 40%;
  height: 20rem;
  box-shadow: var(--box-shadow-soft);
  border-radius: 5px;
  &_1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url('../../assets/coins.jpg');
    background-size: cover;
  }
  &_2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url('../../assets/officedesk.jpg');

    background-size: cover;
  }
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: wrap;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.service_text {
  color: #fff;
  font-size: 3rem;
  margin-top: 1rem;
}
